#map
:javascript
  $(document).on("page:change", dMap)

%div#wrapper
  :javascript
    $(document).on("page:change", dPieChart)


%div#wrapper2
  :javascript
    $(document).on("page:change", dBarChart)


