.container-fluid
  .row
    .col-lg-12
      .col-lg-2.col-md-12
        #charities
      .col-lg-8.col-md-12
        .map-body.center-block
      .col-lg-offset-10.col-lg-2.col-md-2.pull-right.text-center
        .slideout-menu
          %h3
            %div.statisticstitle 
              My Statistics
            %a.slideout-menu-toggle{:href => "#"} ×
            %a.statsbutton.viewAllStats
              View all Stats
            %a.statsbutton.viewMyStats
              View my Stats
          #wrapper.center-block
          #wrapper2



