.container-fluid
  .row
    .col-lg-12
      .col-lg-2.col-md-12
        #charities
      .col-lg-8.col-md-12
        .map-body.center-block
        %a.slideout-menu-toggle{:href => "#"}
          To Slide
      .col-lg-2.col-md-2.pull-right.text-center
        .slideout-menu
          %h3
            Hurricane Hero
            %a.slideout-menu-toggle{:href => "#"} ×
          %a.viewAllStats
            All Stats
          %a.viewMyStats
            My Stats
          #wrapper.center-block
          #wrapper2




