#map
.container
  .row
    .col-lg-12
      .col-lg-6
        .map-body.center-block
      .col-lg-3
        %div#wrapper
          :javascript
            $(document).on("page:change", dPieChart)
        %div#wrapper2
          :javascript
            $(document).on("page:change", dBarChart)


