.section
  %h3
    simple-sidebar development
.section
  %h4
    %a{:href => "http://dcdeiv.github.io/simple-sidebar"} > Go Back to the Main Website <
.section
  %nav
    %ul
      %li.close-sb
        %a{:href => "index.html"} Development playground homepage
      %li.close-sb
        %a{:href => "static-right.html"} Static Right
      %li.close-sb
        %a{:href => "static-left.html"} Static Left
      %li.close-sb
        %a{:href => "dynamic-right.html"} Dynamic Right
      %li.close-sb
        %a{:href => "dynamic-left.html"} Dynamic Left
.section
  %p wo = without .close-sb class
  %p w = with .close-sb class
%nav
  %ul
    %li.close-sb
      %a{:href => "#"} Link (w)
    %li Not a link (wo)
    %li
      %a{:href => "#"} Link (wo)
    %li.close-sb Not a link (w)
    %li
      %a{:href => "#"} Link (wo)
    %li Not a link (wo)
    %li
      %a{:href => "#"} Link (wo)
    %li Not a link (wo)
    %li.close-sb
      %a{:href => "#"} Link (w)
    %li.close-sb Not a link (w)
    %li.close-sb
      %a{:href => "#"} Link (w)
    %li.close-sb Not a link (w)
    %li
      %a{:href => "#"} Link (wo)
    %li Not a link (wo)
    %li
      %a{:href => "#"} Link (wo)
    %li.close-sb Not a link (w)
    %li
      %a{:href => "#"} Link (wo)
    %li.close-sb Not a link (w)
    %li
      %a{:href => "#"} Link (wo)
    %li.close-sb Not a link (w)
