.background {
    fill: none;
    pointer-events: all;
  }

  #states {
    fill: #aaa;
  }
  statepath:hover {
    fill: orange;
  }

  #states .active {
    fill: orange;
  }

  #state-borders {
    fill: none;
    stroke: #e4e4e4;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  #map {
    height: 100%;
  }

  .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

#wrapper svg {
  margin: 0 auto;
}
