.slideout-menu {
  position: fixed;
  top: 25px;
  right: -280px;
  width: 280px;
  height: 100%;
  background: #333;
  z-index: 100;
}
.slideout-menu h3 {
  position: relative;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: 12px;
  left: 10px;
  display: inline-block;
  padding: 6px 9px 5px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover {
  color: #fff;
}
.slideout-menu ul {
  list-style: none;
  font-weight: 300;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #454545;
}
.slideout-menu ul li {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
  position: relative;
  display: block;
  padding: 10px;
  color: #999;
  text-decoration: none;
}
.slideout-menu ul li a:hover {
  background: #000;
  color: #fff;
}
.slideout-menu ul li a i {
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: .5;
}


.main-sidebar a:link {
  color: #ffeb3b; }

.main-sidebar a:visited {
  color: #ff9800; }

.main-sidebar a:hover {
  color: #fbc02d; }

.main-sidebar a:active {
  color: #ffc107; }

.main-sidebar .section {
  margin: 1em 0;
  margin-bottom: 2em !important; }

.main-sidebar-right {
  right: 0;
  text-align: right; }

.main-sidebar-left {
  left: 0;
  text-align: left; }

[data-ssbplugin="sbwrapper"] {
  padding: 1em; }

.dynamic-right .main-navbar-content {
  float: right; }

.dynamic-left .main-navbar-content {
  float: left; }

.main-sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em; }
.background {
    fill: none;
    pointer-events: all;
  }


  #states {
    fill: #aaa;
  }
  statepath:hover {
    fill: orange;
  }

  #states .active {
    fill: orange;
  }

  #state-borders {
    fill: none;
    stroke: #e4e4e4;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}



#charities{
  background: yellow;
  width: 200 px;
  height: 200 px;
}

/*@media screen and (min-width: 1200px) {
  .slideout-menu-toggle{
    display: none;
  }

}

@media screen and (max-width: 1201px) {
   .slideout-menu-toggle{
    display: visible;
  }
}*/

.viewMyStats{
  display: none;
}

#mystats{
  display: none;
}
