%form{:action => "/disasters/#{params[:disaster_id]}/charities/#{@charity.id}/stripe_charge", :method => "POST", class: 'form'}
  .input-group
    %input#custom-donation.form-control{:min => "1.00", :placeholder => "10.00", :step => "10.00 ", :type => "number", name: 'donation_amount'}
    .input-group-btn
      %script.stripe-button{"data-amount" => "", "data-description" => "Help The Cause!", "data-label" => "Donate Now", "data-key" => "pk_test_LK6MXgLNu6grGnpLVDbXSgcu", "data-locale" => "auto", "data-panel-label" => "Donate", "data-name" => "Donate to #{@charity.title}", :src => "https://checkout.stripe.com/checkout.js"}
